.clock-settings-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 60%;
  transition: transform 0.5s;
}

.clock-settings-section > h2 {
  font-size: 4rem;
  letter-spacing: 1rem;
}

.clock-settings-section-form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  padding: 1rem;
  flex-wrap: wrap;
  gap: 2rem;
}

.clock-setting-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid black;
  padding: 1rem;
  border-radius: 0.5rem;
  z-index: 5;
  width: 70%;
}

.clock-setting-container > label {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.clock-setting-container > label > button {
  background-color: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 2rem;
  letter-spacing: 3px;
  border: none;
}

.clock-setting-container > input {
  background-color: inherit;
  width: 30%;
  height: 3rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-size: 2rem;

  transition: transform 0.1s ease-in;
}

.clock-setting-container > input:hover {
  transform: scale(1.1);
}
